<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Modify Staff</h3>
<p>
    <a th:href="@{/staff/list}">
        Back to Staff list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/staff/edit}" th:object="${staff}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}"/>
        </div>
        <div>
            <label>Age</label>
            <input type="text" th:field="*{age}"/>
        </div>

        <div>
            <label>Project</label>
            <select name="projectId">
                <th:block th:each="item : ${listProject}">
                    <option th:if="${item.getId()== staff.getProjectId()}" th:value="${item.getId()}" th:text="${item.getName()}" selected></option>
                    <option th:unless="${item.getId()== staff.getProjectId()}" th:value="${item.getId()}" th:text="${item.getName()}"></option>
                </th:block>
            </select>
        </div>
        <input type="submit" value="Modify"></input>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>